@import 'styles.scss';

.component-menu {
  @include bg-color(B2);
  background: -moz-linear-gradient(#252525, #0a0a0a);
  background: -o-linear-gradient(#252525, #0a0a0a);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a));
  background: -webkit-linear-gradient(#252525, #0a0a0a);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;

  border-top: 1px solid;
  @include border-color(BF);
  position: fixed;
  bottom: 0;
  width: 100%;
  @include breakpoint(medium) {
    position: relative;
  }

  .menu-list {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    width: 100%;

    .menu-list-item {
      display: inline-block;
      position: relative;
      z-index: 30;
      @include flex(1 1 auto);
      @include flexbox();
      @include flex-direction(column);
      @include color(BE);

      border-right: 1px solid;
      @include border-color(BE);
      font-size: 1rem;
      padding: 1rem;
      cursor: pointer;
      text-decoration: none;

      &:hover, &:focus {
        @include bg-color(B3);
      }

      &:last-child {
        border: 0;
      }

      .icon {
        font-size: 2rem;
        margin-bottom: .2rem;

      }

      @include breakpoint(medium) {
        font-size: 2rem;
        padding: 20px 10px;
        @include flex-direction(row);
        &:last-child {
          border-right: 1px solid;
        }
        &:first-child {
          border-left: 1px solid;
        }

        .icon {
          margin: 0 1rem;
        }
      }


    }
  }

}
