@import 'styles.scss';

.components-lightbox {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);

  .content {
    margin: 6rem 0;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 120;
    height: 6rem;
    width: 6rem;
    background: transparent;
    border: 0;
    @include color(BF);
    font-size: 2rem;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);
    cursor: pointer;
  }
}
