@import 'styles.scss';

.components-channel {
  @include flexbox();
  @include flex-direction(column);

  @include breakpoint(medium) {
    @include flex-direction(row);
  }
  .channel-overview {
    @include flex(1 1 100%);
    
    @include breakpoint(medium) {
      margin-right: 1rem;
      @include flex(1 1 50%);
    }
  }

  .channel-features {
    @include flex(1 1 100%);

    @include breakpoint(medium) {
      margin-right: 1rem;
      @include flex(1 1 50%);
    }
  }
  margin-bottom: 4rem;
}
