@import 'styles.scss';

.pages-index {
  .channels {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);


    .components-channel {
      @include flex(1 1 100%);

      @include breakpoint(large) {
        @include flex(1 1 50%);
      }
    }
  }
}
