@import 'styles.scss';

.components-header {
  background-color: #6600AA;
  overflow: visible;
  position: relative;
  @include shadow(bottom, 20px);

  .container {
    @include flexbox();
    @include flex-direction(row);
  }

  .logo {
    display: inline-block;
    height: 6rem;
    position: relative;
    z-index: 50;
    bottom: -1.2rem;
    @include breakpoint(medium) {
      height: 9rem;
      bottom: -2.48rem;
    }
  }
}
