@import 'styles.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.components-gallery {
  .image-preload {
    position: absolute;
    bottom: -100%;
    opacity: 0;
  }

  .gallery-spotlight-content {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    .gallery-spotlight {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);

      .gallery-spotlight-image {
        @include flex(1 1 100%);
        padding: .5rem;
        border-radius: .5rem;
        margin: 1rem;
        @include bg-color(BF);
        animation: fadeIn 1s;

        img {
          /*@include flex(1 1 auto);*/
          width: 100%;
        }


      }

      .gallery-spotlight-title {
        display: inline-block;
        text-align: center;
        padding: 1rem 2rem;
        border-radius: 2rem;
        margin: 1rem;
        @include bg-color(BF);
        animation: fadeIn 1s;
      }
    }
  }

  .gallery-thumbnails {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    @include justify-content(flex-start);

    .gallery-thumbnail {
      @include bg-color(BF);
      margin: .1rem;
      display: inline-block;
      cursor: pointer;
    }
  }

}
