$points: (
  small: 600px,
  medium: 900px,
  large: 1200px,
  xlarge: 1400px,
  huge: 1600px
);

@mixin breakpoint($point) {
  @if map-has-key($points, $point) {
    @media (min-width: #{map-get($points, $point)}) {
      @content;
    }
  }
  @else {
    @warn "No value found for `#{$point}`. "
        + "Make sure it is defined in `$points` map.";
  }
}
