$colors: (
  B0: #000,
  B1: #111,
  B2: #222,
  B3: #333,
  B6: #666,
  B9: #999,
  BE: #EEE,
  BF: #FFF
);

@mixin color($color) {
  @if map-has-key($colors, $color) {
    color: #{map-get($colors, $color)};
  }
  @else {
    @warn "No value found for `#{$color}`. "
        + "Make sure it is defined in `$colors` map.";
  }
}

@mixin bg-color($color) {
  @if map-has-key($colors, $color) {
    background-color: #{map-get($colors, $color)};
  }
  @else {
    @warn "No value found for `#{$color}`. "
        + "Make sure it is defined in `$colors` map.";
  }
}

@mixin border-color($color) {
  @if map-has-key($colors, $color) {
    border-color: #{map-get($colors, $color)};
  }
  @else {
    @warn "No value found for `#{$color}`. "
        + "Make sure it is defined in `$colors` map.";
  }
}
