p, div {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.8rem;
}

h5 {
  font-size: 2.0rem;
}

h4 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.6rem;
}

h1 {
  font-size: 3.2rem;
  @include breakpoint(small) {
    font-size: 4.2rem;
  }
}
