.container {
  max-width: 140rem;
  margin: 0 auto;

  &.content {
    padding: 1rem;
  }
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

main {
  padding: 1rem;
}
@mixin shadow($placement, $size) {
  @if $placement == 'bottom' {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 1px $size;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 1px $size;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 1px $size;
  }
}
