@import 'styles.scss';

.components-footer {
  .container {
    @include flexbox();
    @include flex-direction(row-reverse);
    .copyright {
      @include color(B9);
      font-size: 1.2rem;
    }
  }
}
